<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="ENCODER_PATTERN" value="%d{HH:mm:ss.SSS} [%thread] %-5level %class{0}:%line - %msg%n"/>
    <property name="LOG_FILE" value="debug.log"/>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${ENCODER_PATTERN}</pattern>
        </encoder>
        <file>${LOG_FILE}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
            <maxFileSize>${LOG_FILE_MAX_SIZE:-100MB}</maxFileSize>
            <maxHistory>${LOG_FILE_MAX_HISTORY:-0}</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="TEXT_AREA" class="ru.misterparser.futbol24.LogbackTextAreaAppender">
        <encoder>
            <pattern>${ENCODER_PATTERN}</pattern>
        </encoder>
    </appender>

    <logger name="ru.misterparser" level="DEBUG" additivity="false">
        <appender-ref ref="TEXT_AREA"/>
        <appender-ref ref="FILE"/>
    </logger>
</configuration>
